$primaryColor: rgb(244, 200, 200);
$globalFont: 'Poppins', sans-serif;
$bgDatoNav: rgb(242, 217, 217);
$boxShadowCard: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$fontCarousel: 'Libre Baskerville', serif;

@mixin cards {
    width: 100%;
    padding-left: 20px;
}

@mixin cards_hover {
    transition: all 0.7s;
    opacity: 0.8;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: $globalFont;
}

/* DATO NAV */
.box-dato-nav{
    .dato-nav {
        background-color: $bgDatoNav;
        height: 27px;
        font-size: 0.8em;
        line-height: 1;
        padding-top: 4px;
        border-bottom: 1px solid rgb(91, 89, 89);
    }
}
/* NAV */
.navbar {
    .container-fluid {
        .navbar-brand {
        img {
            width: 110px;
            height: 110px;
            margin-left: 20px;
            display: none;
        }
        }
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    padding-right: 20px;
                    a {
                        font-weight: bold;
                        color: rgb(94, 93, 93);
                    }
                    a:hover {
                        transition: all 0.8s;
                        color: rgb(181, 131, 131);
                    }
                    .nav-link {
                        font: {
                            family: $globalFont;
                            weight: bold;
                        }
                    } 
                    .active {
                        border: 2px solid rgb(68, 66, 66);
                        background-color: rgb(247, 228, 228);
                        color: rgb(0, 0, 0);
                        border-radius: 5px;
                    }
                }
                .productos-nav {
                    text-decoration: none;
                    font-family: $globalFont;
                }
                    .dropdown {
                        position: absolute;
                        display: none;
                        width: 200px;
                        background: rgba(178, 163, 163, 0.213);
                        float:inherit;
                        border-radius: 15px;
                        ul {
                            li {
                                display: block;
                                width: 100%;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-weight: 200;
                                }
                            }
                        }
                    }
                li:hover .dropdown{
                    display: block;
                }
            }
            .encontrar-producto {
                padding-right: 20px;
                .fa-cart-shopping {
                    padding-right: 20px;
                    padding-top: 4px;
                    font-size: 28px;
                    color: rgb(78, 78, 78);
                }
                .fa-instagram {
                    margin-right: 20px;
                    font-size: 35px;
                    color: $primaryColor;
                }
                .fa-square-facebook{
                    padding-right: 15px;
                    font-size: 35px;
                    color: $primaryColor;
                }
            }
        }
    }
}



/* LOGO CENTRAL */

.logo-central {
    img {
        width: 200px;
        height: auto;
        &:hover {
            transition: all 1s;
            width: 230px;
        }
    }
    &__texto {
        font: {
            size: 15px;
            weight: bold;
        }
    }
}

/* CAROUSEL */
.carousel-home {
    margin-top: 30px;
    box-shadow: 0 0 10px 3px rgb(94, 94, 94);
    .carousel-inner {
        .carousel-item {
            img {
                width: 90%;
            }
            .carousel-caption {
                p {
                    margin-bottom: 4vh;
                    font-size: 2.2vw;
                    font-weight: bold;
                    color: black;
                    border-radius: 10px;
                }
            }
        }
    }
}


/* NUEVOS INGRESOS */
.nuevos-ingresos {
    padding-top: 30px;
    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 60px;
    }
    &__cards {
        width: 100%;
        .col {
            .card {
                margin-top: 50px;
                box-shadow: $boxShadowCard;
                img:hover {
                    @include cards_hover;
                }
            }
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}


/* BOTÓN MÁS PRODUCTOS */
.masProductos {
    display: flex;
    justify-content: center;
    padding: 80px 0 40px 0;
    button {
        padding: 10px 50px 10px 50px;
        background-color: rgb(35, 35, 35);
        border: 1px solid rgb(35, 35, 35);
        color: white;
        &:hover {
            transition: all 1s;
            background-color: $primaryColor;
            color: black;
            border: 1px solid black;
        }
    }
}

/* INFO INDEX */
.info-index {
    margin-top: 50px;
    margin-bottom: 90px;
    background-color: #e0c9c957;
    border-radius: 30px;
    height: 300px;
    border: 2px solid rgb(65, 64, 64);
    .row {
        .col {
            img {
                padding-top: 80px;
                width: 50%;
                height: 50%;
            }
            p {
                margin-top: 30px;
                font-weight: bolder;
            }
        }
    }
}

/* FOOTER */
footer {
    background-color: $primaryColor;
    box-shadow: 0px 0px 3px 2px rgb(144, 144, 144);
}


/* ENCONTRANOS */

.encontranos-box {
    background-image: url(../imagenes/background-encontranos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    box-shadow: $boxShadowCard;
    section {
        margin-top: 5em;
        margin-bottom: 10em;
        padding: 3em;

        display: grid;
        grid-template-areas: 
            "breadcrumb breadcrumb"
            "local info"
            "local map";
        
        gap: 2em;
        grid-template-columns: repeat 1fr 2fr;
        grid-template-rows: 30px 400px 340px ;
        img {
            width: 30vw;
            object-fit: cover;
            grid-area: local;
            margin-top: 30px;
            box-shadow: $boxShadowCard;
        }
        .breadcrumb {
            grid-area: breadcrumb;
        }
        .info {
            grid-area: info;
            background-color: #FDDBDB;
            width: 37em;
            height: 100%;
            box-shadow: $boxShadowCard;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1 {
                font-size: 3em;
                text-align: center;
                letter-spacing: 0.3em;
                padding: 15px;
            }
            p {
                width: 80%;
                margin: 20px auto;
                letter-spacing: 4px;
                font-size: 14px;
            }
            .vcp {
                text-align: end;
            }
        }
        .caja-map {
            grid-area: map;
            display: flex;
            flex-direction: row-reverse;
            padding-right: 35px;
            .map {
                width: 450px;
                box-shadow: $boxShadowCard;
            }
        }
    }
}

/* .encontranos-map {
    width: 100%;
    margin-top: 80px;
    border: 2px solid rgb(67, 67, 67);
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    .row {
        .col {
            .breadcrumb {
                .breadcrumb-item {
                    padding-top: 30px;
                    padding-left: 30px;
                    font-size: 90%;
                }
                a {
                    color: black;
                }
            }
            h1 {
                padding-bottom: 10px;
                padding-top: 30px;
                font-size: 25px;
                padding-left: 20px;
            }
        }
        .imagen-local {
            width: 500px;
            height: 700px;
            margin-bottom: 30px;
            padding-top: 60px;
        }
        .maps {
            width: 200vh;
            padding-bottom: 50px;
            iframe {
                box-shadow: 0px 0px 2px 2px;
                width: 50vh;
                height: 400px;
            }
        }
        .encontranos-map__datos {
            font-size: 16px;
        }
    }
} */



/* PRODUCTOS */

/* TITULO */
.productos {
    width: 90%;
    padding-left: 70px;
    padding-top: 40px;
}


/* CARDS PRODUCTOS */
.productos-cards {
    width: 100%;
    padding-bottom: 60px;
    .col-sm-6 {
        .card {
            box-shadow: $boxShadowCard;
            a {
                text-decoration: none;
                color: black;
            }
            &:hover {
                @include cards_hover;
            }
        }
    }
}



/* ACCESORIOS */
.accesorios {
    width: 50%;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-left: 70px;
}

.accesorios-cards {
    @include cards;
    .col {
        .card {
            box-shadow: $boxShadowCard;
            &:hover {
                @include cards_hover;
            }
        }
    }
}

/* REMERAS */
.remeras-cards {
    @include cards;
    .col {
        .card {
            box-shadow: $boxShadowCard;
            &:hover {
                @include cards_hover;
            }
        }
    }
}

/* PANTALONES */
.pantalones-cards {
    @include cards;
    .col {
        .card {
            box-shadow: $boxShadowCard;
            &:hover {
                @include cards_hover;
            }
        }
    }
}

/* JEANS */
.jeans-cards {
    @include cards;
    .col {
        .card {
            box-shadow: $boxShadowCard;
            &:hover {
                @include cards_hover;
            }
        }
    }
}

/* SWEATERS */
.sweaters-cards {
    @include cards;
    .col {
        .card {
            box-shadow: $boxShadowCard;
            &:hover {
                @include cards_hover;
            }
        }
    }
}

.titulos-pages {
    padding: 20px 0 50px 70px;
    width: 50%;
}

@media (max-width: 442px){
    .box-dato-nav .dato-nav{
        height: 44px;
    }
    .encontranos-map .row .imagen-local{
        width: 300px;
        height: 500px;
    }
}

@media (min-width: 1300px) {
    .nuevos-ingresos__cards .col .card img {
        height: 520px;
    }
    .jeans-cards .col .card img {
        height: 520px;
    }
}

@media (max-width: 1494px) {
    .encontranos-box {
        background-image: none;
        background-color: #E9D3D3;
        section {
            .info {
                width: 400px;
                h1 {
                    font-size: 27px;
                }
            }
            .caja-map {
                .map {
                    width: 300px;
                }
            }
        }
    }
}

@media (max-width: 1020px) {
    .encontranos-box {
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 40vw;
            }
            .caja-map {
                .map {
                    height: 250px;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .encontranos-box {
        section {
            .info {
                width: 230px;
                h1 {
                    font-size: 15px;
                }
                p {
                    font-size: 10px;
                }
            }
            .caja-map {
                .map {
                    width: 230px;
                    margin-left: 35px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .dropdown ul {
        background: rgb(242, 199, 199);
        border-radius: 10px;
    }
    .dropdown ul li a {
        color: rgb(249, 212, 212);
    }
}


